
.step-progress {
  display: flex;
  width: 100%;
}

.step-arrow {
  position: relative;
  color: white;
  font-weight: 500;
  padding: 12px 0;
  clip-path: polygon( 0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%, 15px 50% );
  /* to reduce distance between arrow clips */
  margin-right: -12px;  
  background-color: #6c757d;
  z-index: 1;
}

.step-arrow:first-child {
  clip-path: polygon(
    0% 0%, calc(100% - 15px) 0%, 100% 50%,calc(100% - 15px) 100%, 0% 100% );
}

.step-arrow:last-child {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 15px 50% );
}

.step-arrow.success {
  background-color: #0aa45c;
}
.step-arrow.primary {
  background-color: #0d6efd;
}
.step-arrow.outline-secondary {
  background-color: #6c757d;
}

